<!DOCTYPE html>
<html>
<head>
	<title>Login SID</title>
	<link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="/css/styleLogin.css">
	<link rel="stylesheet" href="/css/bootstrap.css">
	<link rel="icon" type="img/ico" href="/img/favicon.ico">
</head>
<body >
	<div>
		<div>
			<label style="margin:12% 0% 0% 37%;">Sistema SID</label>
		</div>
		<a style="margin:3% 0% 0% 37%;" class="btn btn-primary loginform cf form-group" href="<?php echo $this->logar ?>">Logar com Facebook</a>
	
	</div>
</body>
</html>