<script type="text/javascript">

</script>
<body onload="time();">
	<div id="divBody">
		<div id="divSlide">
			<figure id="slide">

			</figure>
		</div>
		
		<div id="divTempo">
			<div id="tempo">
				<img id="logoIf" class="logos" alt="IFG" src="img/if.png">
				<div id="horaP"></div>
				<div id="dataP"><?php echo date("d/m/Y")?></div>
			</div>
		</div>
		<div>
		<div id="divLegenda">
			
		</div>
		</div>
		<div id="divLinkQr">
			<div id="linkQr"></div>
		</div>
	</div>

</body>