* { margin:0; padding:0;}

html{
	height: 100%;
}

body{
	height: 100%;
}

#divBody{
	background: black;
width: 100%;
height: 100%;
top: 0%;
position: absolute;
}

#divSlide{
	background: green;
width: 100%;
height: 100%;
}

#divSlide img{
	width: 100%;
	height: 100%;
	position: absolute;
}

#divLinkQr{
	background: rgba(0, 0, 0, 0.56);
width: 13.5%;
height: 19%;
position: absolute;
top: 80.5%;
border-radius: 1%;
}

#divLinkQr img{
width: 100%;
height: 100%;
position: absolute;
}

#divLegenda{
	background: rgba(0, 0, 0, 0.56);
width: 86.3%;
height: 17%;
float: right;
position: absolute;
top: 82%;
right: 0;
}

#divLegenda p {
	color: yellow;
font-size: 742%;
font-family: Verdana, Arial;
font-weight: 900;
}

#legenda p{
	color: yellow;
width: 100%;
height: 100%;
padding: 0;
margin: 0;
margin-top: -28px;
margin-bottom: 11px;
position: relative;
top: 50%;
transform: translateY(10%);
}

#coment{
	width: 29%;
top: 10%;
position: fixed;
box-shadow: 6px 4px 63px 0px rgba(0,0,0,1);
border-radius: 8px;
margin: 0.5%;
height: auto;
padding: 0px;

}


#imgPerfilComent img{
border-radius: 50%;
width: 50%;
display: table;
margin: 2% auto;
}

#nomeComent{
	  display: table;
  margin: 0 auto;
font-size: 300%;
font-weight: bold;
color: #365899;
font-family: tahoma,verdana,arial,sans-serif;
}

#textComent{
    padding-top: 2%;
    font-size: 250%;
font-family: tahoma,verdana,arial,sans-serif;
}

#infoComent{
padding-left: 5%;
padding-right: 3%;
padding-bottom: 3%;
}
.detalhes {
	font-size: 90%;
    position: relative;
    left: 24%;
    top: 87%;
    font-family: verdana,arial,sans-serif;
}

#divTempo {
	width: 25%;
height: 17%;
position: absolute;
float: right;
top: 2%;
right: 0px;
background: rgba(0, 0, 0, 0.56);
}

#horaP{
	color: yellow;
text-align: right;
font-family: verdana,arial,sans-serif;
top: 10%;
position: absolute;
float: right;
right: 29%;
font-size: 320%;
}

#dataP{
	color: yellow;
text-align: right;
font-family: verdana,arial,sans-serif;
top: 63%;
position: absolute;
float: right;
right: 29%;
width: 90%;
height: 46%;
font-size: 140%;
}

#logoIf{
	width: 20%;
position: absolute;
float: right;
right: 3%;
top: 10%;
height: 80%;
}