body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.zf-green {
	color: #68b604;
}

.btn-success {
	background-color: #57a900;
	background-image: -moz-linear-gradient(top, #70d900, #57a900);
	background-image: -ms-linear-gradient(top, #70d900, #57a900);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900),
		to(#57a900));
	background-image: -webkit-linear-gradient(top, #70d900, #57a900);
	background-image: -o-linear-gradient(top, #70d900, #57a900);
	background-image: linear-gradient(top, #70d900, #57a900);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900',
		endColorstr='#57a900', GradientType=0);
}

.btn-success:hover, .btn-success:active, .btn-success.active,
	.btn-success.disabled, .btn-success[disabled] {
	background-color: #57a900;
}

.btn-success:active, .btn-success.active {
	background-color: #57a900;
}

div.container a.brand {
	background: url("../img/zf2-logo.png") no-repeat scroll 0 10px
		transparent;
	margin-left: 0;
	padding: 8px 20px 12px 40px;
}

#div-cadastrar-divulgacao {
	width: 50%;
}

input, select, a {
	margin: 3%;
}

.datatermino {
	width: 15%;
	float: left;
}

#div-datatermino h4, select {
	position: inherit;
}

#divGaleria ul li {
	display: inline-block;
}

.mais {
	top: -45px;
	width: 20%;
	display: inline-block;
	float: right;
	position: relative;
	color: #00A5FF;
	opacity: 0.8;
}

.configImg:hover {
	cursor: pointer;
}

.configImg:hover .mais {
	background: #DADA11;
	color: #00A5FF;
	display: inline-block;
	opacity: 3.0;
}

.imagemLi {
	width: 25%;
	list-style: none;
}

.imgDetalhes{
	width: 30%;
	float: right;
	top: 0%;
	border-radius: 2%;
}

.btnDetalhes{
	width: 6%;
float: right;
top: 0%;
height: auto;
margin: 0.3%;
}