<?php echo $this->doctype(); ?>

<html lang="en">
<head>
<meta charset="utf-8">
<title>SID IFG - Formosa</title>

        <?php
			echo $this->headMeta()->appendName ( 'viewport', 'width=device-width, initial-scale=1.0' )->appendHttpEquiv ( 'X-UA-Compatible', 'IE=edge' )
		?>
        <?php
			echo $this->headLink(array(
					'rel' => 'shortcut icon',
					'type' => 'image/vnd.microsoft.icon',
					'href' => $this->basePath () . '/img/favicon.ico' 
				))->prependStylesheet($this->basePath( 'css/style.css' ) )->prependStylesheet ( $this->basePath('css/bootstrap-theme.min.css' ) )->prependStylesheet ( $this->basePath ( 'css/bootstrap.min.css' ) )
		?>
        <?php
								
			echo $this->headScript ()->prependFile ( $this->basePath ( 'js/bootstrap.min.js' ) )->prependFile ( $this->basePath ( 'js/jquery.js' ) )->prependFile ( $this->basePath ( 'js/jquery.min.js' ) )->prependFile ( $this->basePath ( 'js/respond.min.js' ), 'text/javascript', array (
					'conditional' => 'lt IE 9' 
					) )->prependFile ( $this->basePath ( 'js/html5shiv.min.js' ), 'text/javascript', array (
								'conditional' => 'lt IE 9' 
					) );
		?>

    </head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="<?php echo $this->url('divulgacao', array('controller' => 'divulgacao', 'action' => 'listar')) ?>"><?php echo $this->translate('Home') ?></a></li>
					<li class="active"><a href="<?php echo $this->url('divulgacao', array('controller' => 'divulgacao', 'action' => 'inserir')); ?>"><?php echo $this->translate('Inserir') ?></a></li>
					<!--  <li class="active"><a href="<?php echo $this->url('home') ?>"><?php echo $this->translate('Facebook') ?></a></li>
					<li class="active"><a href="<?php echo $this->url('home') ?>"><?php echo $this->translate('Configurar') ?></a></li>-->
				</ul>
				
				<ul class="nav navbar-nav" style="float: right;">
					<li class="active"><a href="<?php echo $this->url('auth')."/sair" ?>"><?php echo $this->translate('Sair') ?></a></li>
				</ul>
				<ul class="nav navbar-nav" style="float: right;">
					<li class="active"><img style="width: 5%;float: right;margin-right: 5%;" alt="SID" src="/img/if.png"></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
            <?php echo $this->content; ?>
            <hr>
		<footer>
			<p>&copy;<?php echo ' '.date('Y');  ?> IFG - Formosa. <?php echo $this->translate('Projeto SID.') ?></p>
		</footer>
	</div>
	<!-- /container -->
        <?php echo $this->inlineScript()?>
    </body>
</html>
